<section
  class="flex flex-col-reverse justify-center items-center md:flex-row gap-x-10"
>
  <div class="[&>p]:mb-4 [&>p>strong]:text-dracula-purple text-pretty">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi mollitia
      magni laborum reiciendis laudantium, quisquam dolore perspiciatis?
      <strong
        >Necessitatibus provident iure minus saepe amet tenetur earum,</strong
      >
      molestias tempore. Facere, cumque eius?
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi qui
      tenetur, commodi officiis, expedita dolor et earum suscipit voluptate
      <strong
        >rerum cupiditate molestiae perspiciatis exercitationem veritatis. Aut
        dignissimos excepturi tempora dicta quam?</strong
      >
    </p>

    <p>
      <strong
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
        exercitationem quibusdam
      </strong>laudantium quas facilis itaque dolores eos assumenda fuga,
      excepturi, pariatur tenetur eligendi, iusto unde provident laboriosam
      repudiandae nisi distinctio.
    </p>
  </div>

  <img
    src="./my_image.webp"
    alt="Matin"
    class="p-1 ring-2 ring-dracula-purple/40 size-56 object-contain rounded-full my-8 md:my-0"
  />
</section>
