<section
  class="flex flex-col-reverse justify-center items-center md:flex-row gap-x-10"
>
  <div class="[&>p]:mb-4 [&>p>strong]:text-dracula-purple text-pretty">
    <p>
      I am Martin Milani, a dedicated <strong
        >Frontend Developer with over 2 years of experience in React,
        JavaScript, and CSS.</strong
      > My focus lies in creating engaging user interfaces that balance functionality
      and aesthetics, consistently delivering intuitive web applications.
    </p>

    <p>
      One of my proudest achievement is the <strong
        >implementation of a new UI design for a React Native app.</strong
      > Collaborating closely with cross-functional teams, I translated design concepts
      into a sleek interface, showcasing innovation and attention to detail.
    </p>

    <p>
      Driven by a passion for innovation, I thrive in dynamic environments,
      eager to contribute my skills to impactful digital experiences. I am
      excited about new challenges where I can learn and adapt to emerging
      trends.
    </p>
  </div>

  <img
    src="./my_image.webp"
    alt="Matin"
    class="p-1 ring-2 ring-dracula-purple/40 size-56 object-contain rounded-full my-8 md:my-0"
  />
</section>
