---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "01/2022 - Actually",
    title: "Frontend Developer",
    company: "Avalith",
    description:
      "As a Frontend Developer, I enhanced components, troubleshot issues, and refined UX/UI using React and React Native. Developed a micro frontend app for marketing popups, integrating it seamlessly with the main application and creating a form wizard, boosting user engagement. Led a style renewal of a digital wallet app, delivering a new interface in 4 months that increased user satisfaction. Optimized a CRM application by fixing bugs, improving performance, and developing reusable UI components, enhancing reliability and efficiency.",
  },
  {
    date: "06/2021 - 09/2021",
    title: "Trainee Frontend Developer",
    company: "Alkemy",
    description:
      "In a fast-paced environment, I collaborated with a team of 6 developers using SCRUM, BitBucket, and Jira. Developed functional software for an NGO, including route implementation, view design, API integration, and state management with React and agile methodologies.",
  },
];
---

<ol class="relative border-s-2 border-gray-200/20 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
